# Python
*.pyc
__pycache__/
.pytest_cache/
.coverage

# Virtual environment
.venv/
env/
venv/

# Instance folder (for Flask applications)
instance/

# Database files (if using SQLite)
*.db
*.sqlite
*.sqlite3

# Editor-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env